<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-16">
      <div class="flex flex-col items-start gap-8 sm:gap-10">
        <div class="flex max-w-xl flex-col items-start gap-4 sm:gap-6">
          <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">
            <!-- We design and build your next digital experience -->
            <strong>МАРКЕТИНГОВОЕ АГЕНСТВО</strong> ПОЛНОГО ЦИКЛА
          </h1>
          <p class="text-lg font-medium text-primary-950/70 dark:text-primary-200/70 sm:text-xl">
            Предоставляем решения для ваших задач, качественно упаковываем продукцию, эффективно продвигаем и сосредотачиваемся на достижении ваших желаемых результатов для обеспечения успеха.
          </p>
        </div>
        <a
          href="/pricing"
          class="inline-flex items-center justify-center rounded-full border border-transparent bg-red-500 px-8 py-2 text-base font-semibold text-white transition hover:bg-red-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600 dark:bg-primary-200 dark:text-primary-950 dark:hover:bg-primary-100 dark:focus-visible:outline-primary-400"
        >
          Начать
        </a>
      </div>
      <img
        class="h-auto w-full rounded-3xl"
        width="1280"
        height="640"
        src="/assets/hero.webp"
        alt="Hero picture"
      />
    </div>
  </div>
</section>
